body{
  background-image: url("../images/fresh-hotel.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#description {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px;
  text-align: center;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
}
#info {
  background-color: #1e1b1e;
  color: #fff;
  width: 200px;
  padding: 0 15px;
  text-align: center;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 15%;
}
.content{
  width: 200px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}
.newsItem{
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.hotel {
  text-transform: uppercase;
  text-align: center;
  font-size: 120%;
  margin-top: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}

.true, .false {
  padding: 0 50px 0 50px;
  line-height: 28px;
  text-align: left;
  background-image: url("../images/check-cross.png");
  background-position: 120px 0;
  background-repeat: no-repeat;}
  .false {
    background-position: 120px -28px;
  }
  h2 {
    color: #adffda;
    font-weight: normal;}

  h2 + p {
    margin: 0.25em 0 0 0;}
  p + p {
    margin: 0;}
  p + h2 {
    margin: 10px 0 0 0;}

  #hotelName {
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
    margin-top: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
  #roomRate{
    text-decoration: line-through;
    display: inline-block;
    float: left;
    padding-top: 10px;
  }

  #specialRate {
    font-size: 440%;
    color: #ffb87a;
    display: inline-block;
    padding: 10px 0 20px 0;
    margin: 0;
  }

  #offerEnds {
    text-transform: uppercase;
    color: #ffb87a;
    font-size: 75%;
  }
